@import url('https://fonts.googleapis.com/css2?family=Almendra&display=swap');

body {
  font-family: 'Almendra', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 500;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
